@namespace TareasBlazor.Shared
@using Microsoft.AspNetCore.Components.Routing
<!--
    Archivo NavMenu.razor:
    Define el men칰 de navegaci칩n horizontal.
    Cada elemento del men칰 incluye un 칤cono de cerdito (游냥) y un texto.
-->
<nav class="nav-horizontal">
    <ul>
        <li>
            <!-- NavLink resalta el enlace activo -->
            <NavLink href="/" Match="NavLinkMatch.All">
                <span class="icono">游냥</span>
                <span>Eventos</span>
            </NavLink>
        </li>
        <li>
            <NavLink href="/crear-evento">
                <span class="icono">游냥</span>
                <span>Crear Evento</span>
            </NavLink>
        </li>
        <li>
            <NavLink href="/registro">
                <span class="icono">游냥</span>
                <span>Registro</span>
            </NavLink>
        </li>
    </ul>
</nav>
